/* Credits to Mike Bostock's Tidy Tree vs. Dendrogram https://bl.ocks.org/mbostock/e9ba78a2c1070980d1b530800ce7fa2b */

.node circle {
    fill: #999;
  }
  
.node text {
    font: 10px sans-serif;
}

.node--internal circle {
    fill: #555;
}

.edge {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
  