/*---------- General customization ----------*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.module{
    /* Overall backing to the page and heading */
    background-color: black;
    font-family: Verdana;
    font-size: x-large;
    text-align: center;
    padding-left: 3em;

}
/*
#cover{
    background-color: #f2e0a9 ;
}
*/

#introduction{
    background-color: #1a1b1b ;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #f2e0a9;
}

#popularity1{
    background-color: #3e4141; /*slightly lighter shade of intro color found with https://www.w3schools.com/colors/colors_picker.asp*/
    padding-top: 12%;
    padding-bottom: 12%;
    color: #f6d17b;
    font-family: Optima;
    padding-left: 25%;
   padding-right: 25%;
    font-size: xxx-large;

}

#popularity2{
    background-color: #1a1b1b;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #f2e0a9;
}

#popularity3{
    background-color: #1E222B;
    padding-top: 12%;
    padding-bottom: 12%;
    color: #f6d17b;
    font-family: Optima;
    padding-left: 25%;
    padding-right: 25%;
    font-size: xxx-large;
}

.title{
    /* Stands out on dark backgrounds */
    font-family: googleLato;
    color:#ffffff;
}

#vis-1a-title{
    background-color: #263143;
    padding-top: 6%;
    padding-bottom: 1%;
    text-align: center;
}

#vis-1b-title{
    background-color: #263143;
    padding-bottom: 6%;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
}

#vis-1a{
    background-color: #263143;

}

#module-1{
    background-color: #263143;
}

#module-3{
    padding-left: 3.5%;
    padding-right: 1%;

}

#vis-3-title{
    justify-content: center;
}

#collab_intro{
    background-color: #1E222B;
    padding-top: 12%;
    padding-bottom: 12%;
    color: #f6d17b;
    font-family: Optima;
    padding-left: 25%;
    padding-right: 25%;
    font-size: xxx-large;
}

.timeline_intro{
    background-color: #1E222B;
    padding-top: 12%;
    padding-bottom: 12%;
    color: #f6d17b;
    font-family: Optima;
    padding-left: 25%;
    padding-right: 25%;
    font-size: xxx-large;
}

.timeawardsmerge{
    background-color: #1D2436;
    padding-top: 12%;
    padding-bottom: 12%;
    color: #f6d17b;
    font-size: xx-large;
}

#vis-1c-title{
    background-color: black;
    padding-top: 6%;
    text-align: center;
}

#charity_intro{
    background-color: #1E222B;
    padding-top: 12%;
    padding-bottom: 12%;
    color: #f6d17b;
    font-family: Optima;
    padding-left: 25%;
    padding-right: 25%;
    font-size: xx-large;
}
#module-4{
    background-color: #1D2436;
}


.library {
    color: #E2D0BC
}

#vis-1f-title{
    padding-top: 3%;
    color: #B99599;
    font-family: googleJuliasSans
}

#ten_intro{
    background-color: #455E7D;
    padding-top: 9%;
    padding-bottom: 9%;
    color: #f6d17b;
    font-family: Optima;
    padding-left: 15%;
    padding-right: 15%;
    font-size: xx-large;
    text-shadow: #1D2436;
}

#ten_intro img{
    width:100%
}

#module-5{
    background-color: #21252c;
    color: #A5B99F;
}

.ten-title {
    padding-top: 3%;
    color: #A5B99F;
    font-family: googleJuliasSans
}

#charitypics img {
    width:100%;
    aspect-ratio: 16/9
}

#charitypics{
    background-color: #455E7D;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: large;
    text-align: center;
    color: #f2e0a9;
}

.card-body img{
    width:20rem;
    padding-bottom: 16pt;
}
.card-body {
    background-color: #E2D0BC;
}

#vis-2{
    font-size: 15px;
}

.vis-title{
    font-family: googleJuliasSans;
    color: #ffffff;

}

.dark-title{
    font-family: googleJuliasSans;
    color: black;
}

.gutter{
    /* Allows us to make custom row-breaks so svgs are not directly touching */
    /*background-color: black;*/
    padding-bottom: 4%;

}

.gutter-light{
    background-color: #ffffff;
    padding-bottom: 4%;

}

.big-gutter{
    /* Allows us to make custom row-breaks that are larger than the small visual separation between visualizations */
    /*background-color: black; */
    padding-bottom: 12%;

}

.big-gutter-light{
    background-color: #ffffff;
    padding-bottom: 12%;

}

.quote-mod{
    text-align: center;
    padding: 20% 0;
    background-color: #2b3339;
}

#spotifystats{
    text-align: center;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #2b3339;
}

.quote-mod2{
    text-align: center;
    padding: 20% 0;
    background-color: #1a1b1b;
}

#outsource2{
    padding: 10% 3%;
    background-color: #080808;
}

#footer{
    /* Light grey with generous fluid space at the bottom of the page to cite / include our contacts */
    background-color: #E2D0BC;
    font-family: Verdana;
    text-align: left;
    font-size: medium;
    padding-left: 5%;


}

.numeric{
    font-family: 'Courier New', Courier, monospace;

}

.horizontal-line{
    background-color: #ffffff;
    padding-bottom: 0.1%;
}

.fader2 {
    transition: opacity 3s;
    opacity: 0;
}

.fader3 {
    transition: opacity 4s;
    opacity: 0;
}

.fader4 {
    transition: opacity 5s;
    opacity: 0;
}

.fader6 {
    transition: opacity 7s;
    opacity: 0;
}

.fader8 {
    transition: opacity 8s;
    opacity: 0;
}

.inView {
    opacity: 1;
}
