/*---------- General customization ----------*/
html{
    scroll-behavior: smooth;

}

.module{
    /* Overall backing to the page and heading */
    background-color: black;

}

.title{
    /* Stands out on dark backgrounds */
    font-family: googleLato;
    color:#ffffff;

}

.vis-title{
    font-family: googleJuliasSans;
    color: #ffffff;

}

.gutter{
    /* Allows us to make custom row-breaks so svgs are not directly touching */
    background-color: black;
    padding-bottom: 4%;

}

.gutter-light{
    background-color: #ffffff;
    padding-bottom: 4%;

}

.big-gutter{
    /* Allows us to make custom row-breaks that are larger than the small visual separation between visualizations */
    background-color: black;
    padding-bottom: 12%;
}

.big-gutter-light{
    background-color: #ffffff;
    padding-bottom: 12%;

}

#footer{
    /* Light grey with generous fluid space at the bottom of the page to cite / include our contacts */
    background-color: #ffffff;

}

.numeric{
    font-family: 'Courier New', Courier, monospace;

}

.horizontal-line{
    background-color: #ffffff;
    padding-bottom: 0.1%;

}