body{
    /* Overall backing to the page and heading */
    background-color: black;

}

h2{
    /* Stands out on dark backgrounds */
    color:antiquewhite;

}

.module{
    /* Davy's Grey */
    background-color: #555555;

}

.gutter{
    /* Allows us to make custom row-breaks so svgs are not directly touching */
    background-color: black;
    padding-bottom: 2%;

}

#footer{
    /* Light grey with generous fluid space at the bottom of the page to cite / include our contacts */
    background-color: #d3d3d3;
    height: 200px;

}