/*---------- General customization ----------*/
html{
    scroll-behavior: smooth;

}

.module{
    /* Overall backing to the page and heading */
    background-color: black;

}

.title{
    /* Stands out on dark backgrounds */
    color:#d3d3d3;

}

.vis-title{
    font-family: googleJuliasSans;

}

.gutter{
    /* Allows us to make custom row-breaks so svgs are not directly touching */
    background-color: black;
    padding-bottom: 4%;

}

.big-gutter{
    /* Allows us to make custom row-breaks that are larger than the small visual separation between visualizations */
    background-color: black;
    padding-bottom: 12%;
}

#footer{
    /* Light grey with generous fluid space at the bottom of the page to cite / include our contacts */
    background-color: #d3d3d3;

}

/*---------- Country Bubble customization ----------*/

.bubble-vis .artist-circle {
    fill: lightcyan;
    stroke-width: 1px;
    stroke: black;
}
.bubble-vis .artist-dolly {
    fill: #FFFD73;
}
.bubble-vis .artist-dolly-linked {
    stroke-width: 3px;
    fill: #6495ed;
}
.bubble-vis .artist-circle-text {
    text-anchor: middle;
    alignment-baseline: middle;
}


/*---------- Time Series customization ----------*/
#vis-2 .axis text {
    fill: #8FA2AC;
    /*font: 12px sans-serif;*/
    /*font-family: SansSerif;*/
}
#vis-2 .axis-title {
    fill: #8FA2AC;
    text-anchor: middle;
    /*font-family:  SansSerif;*/
}
#vis-2 .axis path,
#vis-2 .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.date-label-top, .date-label-bottom{
    fill: #8FA2AC;
    text-anchor: middle;
}

.date-marker {
    stroke-width: 1px;
}

/*---------- Awards customization ----------*/
.numeric{
    font-family: 'Courier New', Courier, monospace;

}

/*----------Video -------------------------*/
.vidContain {
    width: 100%;
    height: 100%;
    position:relative;
    /*display:inline-block;*/
    margin:10px;
}
.vid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95vw;
    height: 90vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .vid iframe {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    .vid iframe {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
    }
}

#text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'googleSatisfy';
    src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: 'googleTanBold';
    src: url(../fonts/Tangerine-Bold.ttf);
}

@font-face {
    font-family: 'googleJuliasSans';
    src: url(../fonts/JuliusSansOne-Regular.ttf);
}

#text-cover{
    font-family: googleTanBold;
    color: #FFFFFF;
    opacity: 60%;
    font-size: 1500%;
}

.missing{
    font-size:1000%;
    text-align: center;
    color: white;
    font-family:monospace;
}

/*---------- Charity customization ----------*/

.charity-vis .county {
    stroke-width: 1px;
    stroke: black;
}
.charity-vis .county-sevier {
    stroke-width: 4px;
    stroke: steelblue;
}
.charity-vis .countyPattern {
    stroke: none;
    fill: url(#diagonalHatch);
}
.charity-vis #scale-pattern-rect {
    stroke-width: 1px;
    stroke: black;
    fill: url(#diagonalHatch);
}
.charity-vis #state-average-text {
    text-anchor: middle;
    alignment-baseline: baseline;
}

.charity-vis .donation-entry-wrap {
    margin: 0px;
    border: none;
}
.charity-vis .donation-entry {
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 5px;
}
.charity-vis .donation-when {
    display: inline-block;
    width: 4em;
    font-style: italic;
}
.charity-vis .donation-where {
    display: inline-block;
    width: 12em;
}
.charity-vis .donation-what {
    display: inline-block;
}
.charity-vis .donation-desc {
    display: inline-block;
    margin-top: 10px;
}
.charity-vis .donation-colorbar {
    width:5px;
    margin-right:5px;
}
.charity-vis .donation-flyout-line {
    stroke-width: 1px;
    stroke: white;
}
.charity-vis .donation-flyout-circle {
    stroke: none;
}
.charity-vis {
    color:#d3d3d3;
}
.charity-vis text {
    fill:#d3d3d3;
}
.charity-vis #scale-pattern-rect {
    stroke:#d3d3d3;
}